*.docx
*.lock
*.ini
*.pptx
*.7z
.Rproj.user
.backup
data/census/
data/data
sample.Rmd
data/empty.gdb
data/example.gdb
data/results.gdb
data/toronto
*.mxd
r-arcgis-arcmap-103.tbx
r-arcgis-arcmap.tbx
.backups
.RData
.Rhistory
.gitmodules
*.tmp
Gpmessages
.git
index/
data.gdb
data/